[submodule "AudibleApi"]
	path = AudibleApi
	url = https://github.com/rmcrackan/AudibleApi.git
[submodule "Dinah.Core"]
	path = Dinah.Core
	url = https://github.com/rmcrackan/Dinah.Core.git
[submodule "AAXClean"]
	path = AAXClean
	url = https://github.com/rmcrackan/AAXClean.git
[submodule "LuceneNet303r2"]
	path = LuceneNet303r2
	url = https://github.com/rmcrackan/LuceneNet303r2.git
